{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
Submissions
{% endblock %}

{% block content %}
<h1 class="text-center">Submissions</h1>
<br>
<br>
<div class="container">
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Team</th>
            <th scope="col">DevFolio</th>
            <th scope="col">Codebase</th>
            <th scope="col">Param 1</th>
            <th scope="col">Param 2</th>
            <th scope="col">Param 3</th>
            <th scope="col">Total</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for s in submissions %}
            <td><a href="/auth/submissions/{{s.id}}">{{s.title}}</a></td>
            <td>{{s.description}}</td>
            <td>{{s.team_name}}</td>
            <td><a href={{s.devfolio_link}}>Click  Here</a> </td>
            <td><a href={{s.codebase_link}}>Click Here</a> </td>
            <td>{{s.param1}}</td>
            <td>{{s.param2}}</td>
            <td>{{s.param3}}</td>
            <td>{{s.total}}</td>
            <td><a href="/auth/submissions/{{s.id}}/edit">Edit</a> <a href="/auth/submissions/{{s.id}}/delete">Delete</a> </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      
</div>

{% endblock %}