{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
Submissions
{% endblock %}

{% block content %}
<h1 class="text-center">Submissions</h1>
<br>
<br>
<div class="container">
    <table class="table">
        <thead class="thead-dark">
          <tr>
            
            <th scope="col">Title</th>
            <th scope="col">Team</th>
            <th scope="col">Leader</th>
            <th scope="col">Contact Email</th>
            <th scope="col">Contact Phone</th>
            <th scope="col">DevFolio</th>
            <th scope="col">Codebase</th>
            <th scope="col" class="text-center" colspan="3">Judge 1</th>
            <th scope="col"colspan="3" class="text-center">Judge 2</th>
            <th scope="col">Total</th>
            <th scope="col">Actions</th>
          </tr>
          <tr>
          <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">Param 1</th>
            <th scope="col">Param 2</th>
            <th scope="col">Param 3</th>
            <th scope="col">Param 1</th>
            <th scope="col">Param 2</th>
            <th scope="col">Param 3</th>
            <th scope="col"></th>
            <th scope="col"></th>
        
          </tr>        

        </thead>
        <tbody>
          <tr>
            {% for s in submissions %}
            <td><a href="/auth/submissions/{{s.id}}">{{s.title}}</a></td>
            <td>{{s.team_name}}</td>
            <td>{{s.member_name}}</td>
            <td>{{s.member_email}}</td>
            <td>{{s.member_phone}}</td>
            <td><a href={{s.devfolio_link}}>Click  Here</a> </td>
            <td><a href={{s.codebase_link}}>Click Here</a> </td>
            {% for j in s.judgement_set.all %}
            <td>{{j.param1}}</td>
            <td>{{j.param2}} </td>
            <td>{{j.param3}} </td>
            {% empty %}
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            {% endfor %}
            <td>{{s.total}}</td>
            <td>
              <a href="/auth/submissions/{{s.id}}">Evaluate</a>
              {% if user.is_staff %}
              <a href="/auth/submissions/{{s.id}}/edit">Edit</a> <a href="/auth/submissions/{{s.id}}/delete">Delete</a>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      
</div>

{% endblock %}